<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="dns-prefetch" href="https://images.unsplash.com/">

    <title>A Sample Weather App</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />   
    <script src="/frontend.js"></script>
  </head>
  <body>
    
    <!-- this is the start of content -->
      <form id="search" name="search" onsubmit="return handleFormSubmit(this)">
        <label for="city">Enter the name of a city to get the weather there:</label>
        <input type="text" id="city" name="city" placeholder="e.g. London">
        <input type="submit" value="Show me">
        <div class="response"></div>
      </form>
    
    <footer>
      weather data provided by <a href="https://www.weatherapi.com/">Weather API</a> | 
      images provided by <a href="https://unsplash.com">Unsplash</a>
    </footer>
        
  </body>
</html>
