<div class="weather_conditions">
  <p>
    The current conditions are:
  </p>
  <p>
    <img src="{{ conditions.condition_icon }}"> {{ conditions.condition_text }} 
    with 
    {{ conditions.wind_mph }}mph winds 
    and a temperature of {{ conditions.temp_c }}&deg;C
  </p>  
</div>